html, body
	height 100%
	padding 0px
	margin 0px

.user
	margin-bottom 10px
	border-bottom 1px solid transparent
	border-color #e7e7e7

#timeline-embed
	height 100%

.timeline-event
	&.internal-activity
		background-color lightblue

	&.value-demand
		background-color green

	&.failure-demand
		background-color red

	.handoff
		position absolute
		right -20px
		top -20px
		color red