html, body
  height 100%
  padding 0px
  margin 0px


.content
  position relative

.view
  position absolute
  top 0
  left 0
  right 0
  height 100%

.fade
  opacity 1

.fade.ng-enter,
.fade.ng-leave
  -webkit-transition all 1s ease
  -moz-transition all 1s ease
  -o-transition all 1s ease
  transition all 1s ease

.fade.ng-enter
  opacity 0

.fade.ng-enter-active
  opacity 1

.fade.ng-leave
  opacity 1

.fade.ng-leave-active
  opacity 0

.username
  margin 0.3em
  width 100%

form.newuser
  margin 0.3em
  margin-top 1em

.messages
  position fixed
  bottom 30px
  right 30px
  opacity 0.7

.journeySummary
  position fixed
  right 30px
  top 30px

  .badge
    margin-left 30px

.userDetails
  // position fixed
  // left 30px
  // top 30px
  .messages
    left 30px
    right auto

input.form-control.datetimepicker
  cursor pointer
  background-color white
  text-align center

input.form-control.staffName
  cursor default
  background-color white
  color black

ul.staff-involved
  margin-right: 35px
  li
    padding-top: 6px
    padding-bottom: 6px

.apm
  &.timeline-event-box
    border-color black
    border-width 3px
    border-radius 0 
  &.timeline-event-selected
    background-color white
  .timeline-event-content
    color black

.checkbox
  color red
