html, body
  height 100%
  padding 0px
  margin 0px

.content
  position relative

.view
  position absolute
  top 0
  left 0
  // right 0
  width 100%
  // height 100%

.fade-view
  opacity 1

.fade-view.ng-enter,
.fade-view.ng-leave
  -webkit-transition all 1s ease
  -moz-transition all 1s ease
  -o-transition all 1s ease
  transition all 1s ease

.fade-view.ng-enter
  opacity 0

.fade-view.ng-enter-active
  opacity 1

.fade-view.ng-leave
  opacity 1

.fade-view.ng-leave-active
  opacity 0

.selected-activity
  .messages
    // position fixed
    // top 30px
    // opacity 1
    // width 100%

.new-user, .user-details, .clinical-outcomes
  .messages
    position static
    right 0px
    top 0px
    opacity 0.7

.badge
    margin-left 30px

input.form-control.datetimepicker
  cursor pointer
  background-color white
  margin-top 0

input.form-control.staffName
  cursor default
  background-color white
  color black

ul.staff-involved,
ul.it-systems-updated,
ul.paper-records-updated
  margin-right: 35px
  li
    padding-top: 6px
    padding-bottom: 6px

div.timeline-event.timeline-event-box
  background-color white

div.timeline-event.timeline-event-box.timeline-event-selected
  background-color #FFF785

div.timeline-event-content
  margin 0
  font-size 0.9em
  .panel
    background-color inherit
    margin 0
    .panel-heading
      text-align left
      font-size 0.7em
      padding 3px

    .panel-body
      padding 3px

.apm
  &.timeline-event
    &.timeline-event-box
      border-color #5F70A1
      border-width 3px
      &.timeline-event-selected
        border-color #ADAF02
    &.timeline-event-line
      border-color #5F70A1
      &.timeline-event-selected
        border-color #ADAF02
    &.timeline-event-dot
      border-color #5F70A1
      &.timeline-event-selected
        border-color #ADAF02

div.timeline-navigation-delete
    display: none
