input.form-control(readonly name="date" type="text" size="16" ng-model="selectedActivity.date" ng-change="save()" required)

/ .input-group.date
/   input.form-control(name="date" type="text" size="16" ng-model="selectedActivity.date" ng-change="save()" readonly)
/   span.input-group-addon
/     span.glyphicon.glyphicon-calendar

