.journey
  .panel.panel-info
    .panel-heading
      h4.panel-title
        | Journey for {{user.name}}
    .panel-body
      .form-group.pull-right
        button.btn.btn-primary(ng-click="new()") Add a New Activity
      .form-group
        button.btn.btn-default(ng-click="edit()" ng-show="selectedActivity") Edit Selected Activity 
      timeline
