.journeySummary(ng-controller="JourneySummaryController")
  .panel.panel-success
    .panel-heading 
      h3.panel-title
        | Journey Summary for {{user.name}}
    ul.list-group
      li.list-group-item
        span.badge
          | {{numberOfHandoffs(activities)}}
        | Handoffs
      li.list-group-item
        span.badge
          | {{numberOfContacts(activities)}}
        | Direct contacts
      li.list-group-item
        span.badge
          | {{numberOfStaffInvolved(activities)}}
        | Staff involved 
      li.list-group-item
        span.badge
          | {{numberOfITSystemUpdated(activities)}}
        | IT Systems updated
      li.list-group-item
        span.badge
          | {{numberOfTherapeuticContributions(activities)}} of {{numberOfAPMActivities(activities)}}
        | APM therapeutic contributions