eventtimeline


form(name="eventForm" novalidate ng-submit="createEvent()")
	div
		label Description
		input (type="text" class="form-control" ng-model="description" required)
	div
		label Date
		input(class="form-control" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="date" required)

		label Time
		timepicker(hour-step="1" minute-step="5" show-meridian="true" ng-model="time")

    button(type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid") Create Event


ul
	li ng-repeat="event in events" {{event}}