.panel.panel-default
    .panel-heading
        h4.name.panel-title
        | Basis 32

    .panel-body
        form.form-inline(name="basis32Form" novalidate)

            .form-group
                .input-group
                    span.input-group-addon Clinician
                    input.form-control(name="basis32Clinician" type="text" required)

            .form-group
            	table.table.table-bordered 
            		thead
            			tr
        	    			th To what extent are you experiencing difficulty in the area of:
        	    			th No Difficulty
        	    			th A Little Difficulty
        	    			th Moderate Difficulty
        	    			th Quite a Bit
        	    			th Extreme Difficulty

            		tbody
            			tr
            				td Managing day to day life (e.g. Getting to places on time, handling money, making everyday decisions)
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Household responsibilities (e.g. Shopping, cooking, laundry, keeping room clean, other chores)
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Work (e.g. Completing tasks, performance level, finding / keeping a job)
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td School (e.g. academic performance, completing assignments, attendance)
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Leisure time or recreational activities
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Adjusting to major life stresses (e.g. separation, divorce, moving, new job, new school, a death)
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Relationships with family members
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Getting along with people outside of the family
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Isolation or feelings of loneliness
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Being able to feel close to others
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Being realistic about yourself to others
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Recognising and expressing emotions appropriately
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Developing indepencence, autonomy
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Goals or direction of life
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            			tr
            				td Lack of self-confidence, feeling bad about yourself
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
            				td: input(name="question1" type="radio")
