.panel.panel-default(ng-controller="Basis32Controller")
    .panel-heading
        h4.name.panel-title
        | Basis 32

    .panel-body
        form.form-inline(name="basis32Form" novalidate)

            .form-group
                .input-group
                    span.input-group-addon Clinician
                    input.form-control(name="basis32Clinician" type="text" required)

            .form-group
            	table.table.table-bordered 
            		thead
            			tr
        	    			th To what extent are you experiencing difficulty in the area of:
        	    			th No Difficulty
        	    			th A Little Difficulty
        	    			th Moderate Difficulty
        	    			th Quite a Bit
        	    			th Extreme Difficulty

            		tbody
            			tr(ng-repeat="question in questions")
            				td 
                                | {{ question.text }}
            				td: input(name="question{{$index}}" type="radio" ng-model="question.answer" value="0" ng-change="answer($index, question.answer)")
            				td: input(name="question{{$index}}" type="radio" ng-model="question.answer" value="1" ng-change="answer($index, question.answer)")
            				td: input(name="question{{$index}}" type="radio" ng-model="question.answer" value="2" ng-change="answer($index, question.answer)")
            				td: input(name="question{{$index}}" type="radio" ng-model="question.answer" value="3" ng-change="answer($index, question.answer)")
            				td: input(name="question{{$index}}" type="radio" ng-model="question.answer" value="4" ng-change="answer($index, question.answer)")

                            td
                                input(ng-model="question.answer")
